<h1>
  <span *ngIf="hero.id">Edit Hero <small>{{ hero.superhero }}</small></span>
  <span *ngIf="!hero.id">New Hero</span>
</h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
  <div fxFlex="50" fxLayout="column">
    <div fxFlex="100" fxLayout="row" fxLayout.xs="column">
      <mat-form-field fxFlex="50">
        <mat-label>Super Hero</mat-label>
        <input type="text" matInput required [(ngModel)]="hero.superhero" />
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Alter Ego</mat-label>
        <input type="text" matInput [(ngModel)]="hero.alter_ego" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>First Appearance</mat-label>
      <input type="text" matInput [(ngModel)]="hero.first_appearance" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input type="text" matInput [(ngModel)]="hero.characters" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <mat-select [(ngModel)]="hero.publisher">
        <mat-option
          *ngFor="let publisher of publishers"
          [value]="publisher.id"
          >{{ publisher.desc }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image URL</mat-label>
      <input type="url" matInput [(ngModel)]="hero.alt_img" />
    </mat-form-field>

    <br />

    <div fxLayout>
      <button mat-raised-button color="primary" (click)="save()">
        <mat-icon *ngIf="hero.id">edit</mat-icon>
        Save
      </button>

      <span class="spacer"></span>

      <button
        *ngIf="hero.id"
        mat-raised-button
        (click)="delete()"
        color="warn"
      >
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </div>
  <div fxFlex="50">
    <img [src]="hero | image" alt="" />
  </div>
</div>
